/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&family=Open+Sans:wght@600&display=swap');

/* css variables */
:root {

    --theme-hue-val: 0;
    
    --primary: hsla(var(--theme-hue-val), 100%, 70%, 0.75);
    --primary-solid: hsla(var(--theme-hue-val), 100%, 70%,1);
    --on-primary: hsl(var(--theme-hue-val), 100%, 10%);
    
    --bg-calc: calc(var(--theme-hue-val) + 180);
    
    --bg: hsl(var(--bg-calc), 10%, 90%);
    --headers: hsl(var(--bg-calc), 100%, 10%);
    
    --card-bg: hsl(var(--bg-calc), 10%, 90%);
    --on-card: hsl(var(--bg-calc), 10%, 5%);
    
    --surface: hsla(var(--theme-hue-val), 100%, 80%, 0.25);
    --surface-solid: hsla(var(--theme-hue-val), 100%, 80%, 1);
    --on-surface: hsl(var(--bg-calc), 10%, 5%);
    
    --surface-border: 0.0001em solid var(--primary-solid);
    --surface-shadow: 0em 0em var(--font-size) hsla(var(--theme-hue-val), 10%, 2%, 0.25);
    --surface-hover-shadow: 0em 0em calc(var(--font-size) * 1.1) hsla(var(--theme-hue-val), 10%, 2%, 0.25);
    
    /* measurement */
    --x-base: 8px;
    --y-base: 9px;
    
    --font-size: calc(16px);
    --margin: 16px;
    --wide-margin: calc(var(--margin) * 1.2);
}
.dark {
    --primary: hsl(var(--theme-hue-val), 100%, 70%, 0.2);
    --primary-solid: hsl(var(--theme-hue-val), 100%, 70%);
    --on-primary: hsl(var(--theme-hue-val), 100%, 10%);
    
    --bg: hsl(var(--bg-calc), 90%, 0%);
    --card-bg: hsl(var(--bg-calc), 90%, 0%);
    --headers: hsl(var(--bg-calc), 100%, 80%);
    
    --card-bg: hsl(var(--bg-calc), 10%, 90%);
    --on-card: hsl(var(--bg-calc), 10%, 5%);
    
    --surface: hsla(var(--theme-hue-val), 100%, 60%, 0.2);
    --surface-solid: hsla(var(--theme-hue-val), 100%, 10%, 1);
    --surface-border: 0.0001em solid var(--primary);
    --on-surface: hsl(var(--bg-calc), 50%, 97%);
    
    --surface-shadow: 0em 0em var(--font-size) hsla(var(--theme-hue-val), 70%, 2%, 0.25);
    --surface-hover-shadow: 0em 0em calc(var(--font-size) * 1.1) hsla(var(--theme-hue-val), 70%, 2%, 0.25);
}

/* wildcard */
* {
    /* set the border to not effect box sizing */
    box-sizing: border-box;
    /* reset margin and padding for everything */
    margin: 0;
    padding: 0;
    /* #elementswithoutborders */
    border: none;
    /* font reset and color */
    font-size: var(--font-size);
    color: var(--on-surface);
    background: none;
}

/* elements */    
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg);
    min-height: 100vh;
    max-width: 100vw;
}

a:hover, button:hover{
    cursor: pointer;
}

/* Typography */

h1, h2, h3, h4, h5 {
    /* Overide for headers */
    font-family: 'Encode Sans', sans-serif;
    padding: var(--margin) 1rem;
    /* padding-bottom: var(--margin); */
    text-align: left;
    
}

p{
    padding: var(--margin);
    text-align: justify;
}

h1 {
    font-size: calc(var(--font-size) * 2);
}

h2 {
    font-size: calc(var(--font-size) * 1.75);
    
}

h3 {
    font-size: calc(var(--font-size) * 1.5);
    
}

h4 {
    font-size: calc(var(--font-size) * 1.25);
    
}
h5 {
    font-size: var(--font-size);
    
}
.lead{
    font-size: calc(var(--font-size) * 1.15);
}

a, a:active, a:visited, a:hover {
    text-decoration: underline;
    color: hsla(0,0,0,0.25);
}

hr {
    border: 1px solid black;
    background-color: rgb(0, 0, 0, 0);
}

/* nav */
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: calc(var(--margin) - calc(var(--margin) * 4));
    height: 100vh;
    /* width: 15em; */
    flex-direction: column;
    background-color: var(--primary);
    /* background-color: rgba(20,20,20,0.7); */
    backdrop-filter: blur(50px);
    padding: var(--margin);
    border-right: 1px rgb(0, 0, 0,0.2) solid;
    /* box-shadow: 0.5em 0 1em rgba(0, 0, 0, 0.3); */
    transition: ease-in 0.2s;
}
nav:hover{
    left: 0;
}
nav:before{
    content: attr(title);
    position: absolute;
    left: -6em;
    opacity: 0;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
    min-width: 16em;
    max-width: 10em;
    color: var(--on-surface);
    /* border: 0.1em solid var(--on-surface); */
    z-index: -1;
    padding: var(--margin);
    /* margin: calc(var(--margin) * 3); */
    background-color: var(--bg);
    border-radius: var(--margin);
    /* height: fit-content; */
    box-shadow: var(--surface-shadow);
    margin-top: 75vh;
}
nav:hover:before{
    left: 1em;
    opacity: 1;
}

nav a {
    display: flex;
    font-size: calc(var(--margin) * 2);
    background-color: var(--bg);
    border-radius: 50%;
    padding: calc(var(--margin) / 4);
    /* padding-top: calc(var(--margin) / 4); */
    border: calc(var(--margin) / 2) solid var(--primary-solid);
    transition: all 0.3s;
    text-decoration: none;
}

nav a:hover {
    filter: brightness(1.1);
    text-decoration: none;
}

nav a:hover:after {
    position: absolute;
    font-size: var(--font-size);
    content: attr(title);
    margin-left: 4em;
    min-width: 10em;
    /* background-color: var(--surface); */
    color: var(--on-surface);
    z-index: -10;
    padding: var(--wide-margin);
    /* margin: calc(var(--margin) * 3); */
    background-color: var(--bg);
    border-radius: var(--wide-margin);
    /* height: fit-content; */
    box-shadow: var(--surface-shadow);
}
nav>a>i{
    font-size: calc(var(--font-size) * 2);
}

/* Classes */

/* remix icons */
.remix {
    width: calc(var(--font-size) * 15);
    height: calc(var(--font-size) * 15);
    fill: var(--on-surface);
}

.brand-header {
    background-color: var(--primary);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 6em;
    width: 100%;
}

.brand {
    color: white;
}

.main{
    padding: 2.5em;
    padding-left: 3em;
}

.main>*{
    max-width: 100%;
    min-width: 550px;
    margin: 1vw;
}

.surface{
    display: flex;
    flex-direction: column;
    padding: var(--wide-margin);
    margin: calc(var(--margin)) 0;
    background-color: var(--surface);
    /* border: var(--surface-border); */
    border-radius: var(--wide-margin);
    height: fit-content;
    box-shadow: var(--surface-shadow);
    /* min-width: 50%; */
}

/* card */
.card{
    display: flex;
    flex-direction: row;
    padding: inherit;
    background-color: var(--bg);
    border-radius: var(--wide-margin);
    color: var(--on-card);
    box-shadow: var(--surface-shadow);
    transition: all 0.3s;
    margin: var(--margin) 0;
}
.card > * {
    padding: var(--margin);
}
.card-image{
    display: flex;
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    box-shadow: var(--surface-shadow);
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-header{
    display: inline;
    color: var(--headers);
}

/* Buttons */
.primary, .secondary{
    font-size: 1em;
    font-weight: bold;
    padding: calc(var(--margin) * 2) calc(var(--margin) * 4);
    margin: var(--margin);
    border-radius: var(--wide-margin);
    box-shadow: var(--surface-shadow);
}
.primary:hover{
    filter: brightness(0.8);
}

.secondary:hover{
    filter: brightness(1.1);
}
.primary{
    background-color: var(--surface);
    color: var(--on-surface);
    /* border: 0.15em solid var(--on-surface); */
}
.secondary{
    background-color: var(--primary-solid);
    color: var(--on-primary);
    /* border: 0.15em solid var(--on-primary); */
}
.hidden{
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    filter: scale(0);
    opacity: 0;
    transition: all 0.1s;
}
.hidden>img{
    /* fixes gross animation 
    when hiding parent from child */
    opacity: 0;
}

.flex-col, .flex-row{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}